.button {
  min-width: 3rem;
  max-height: 2.6rem;
  margin: 0.4rem 0.5rem 0 0;
  padding: 0.5rem;
  background-color: lightseagreen;
  border-radius: 10px;
  border: 2px solid transparent;
  color: white;
  transition-duration: 0.3s;
  white-space: nowrap;
}
.button:hover {
  background-color: white;
  color: black;
  border: 2px solid lightseagreen;
  border-width: 2px;
}
