.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}
.input {
  font-size: 1rem;
  width: 280px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #a3a3a3
}