.container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 0.5rem; 
}

.input {
    font-size: 1rem; 
    width: 210px; 
    margin-left: 0.5rem; 
    padding: 0.5rem; 
    border: 2px solid #c8c6c2; 
    border-radius: 5px; 
}