.popup-TaxiAvailable {
    font-size: 14px; 
    min-width: 150px; 
    min-height: 50px; 
}

.popup-TaxiAvailable-header {
    background-color: #5588ee; 
    color: white; 
    letter-spacing: 0.5px; 
    font-size: 18px; 
    font-weight: bold; 
    margin: -14px -20px 10px -20px; 
    padding: 10px 0 5px 20px; 
    border-radius: 10px 10px 0 0; 
}